body {
  padding: 0;
  text-align: center;
  background-color: blueviolet;

}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.logo-img {
  width: 300px;
}

canvas {
  box-align: center;
}

.start-button {
  float: left;
  font-size: 30px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

#game-background {
  padding: 20px 0px;
  margin: 0px;
}
