body {
    display: flex;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: black;

}



.background {
    display: block;
    margin: auto;
}

canvas {
    display: block;
    margin: auto;
    box-align: center;
    border: 1px dashed white
}

.start-button {
    font-size: 30px;
    color: white;
    background-color: black;
    border:1px solid white;
}